<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo_octopus.png">
        <span class="title">Octopus</span>
      </div>
      <div class="desc">Sistema de liquidación de expensas y sueldos.</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
        Octopus - Copyright © 2017 - Todos los derechos reservados.
    </global-footer>
  </div>
</div>
