<nz-steps nzProgressDot #steps [nzCurrent]="current">
  <nz-step></nz-step>
  <nz-step></nz-step>
</nz-steps>

<form nz-form [formGroup]="form" (ngSubmit)="submit()" [nzLayout]="'horizontal'">

  <div *ngIf="steps.nzCurrent == 0">

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="razon_social">{{ 'global.razon_social' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="razon_social" id="razon_social">
            <nz-form-explain *ngIf="form.get('razon_social').dirty && form.get('razon_social').errors">
              <ng-container *ngIf="form.get('razon_social').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="nombre_fantasia">{{ 'lambe.proveedores.nombre_fantasia' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="nombre_fantasia" id="nombre_fantasia">
            <nz-form-explain *ngIf="form.get('nombre_fantasia').dirty && form.get('nombre_fantasia').errors">
              <ng-container *ngIf="form.get('nombre_fantasia').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="cuit">{{ 'global.cuit' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="cuit" id="cuit">
            <nz-form-explain *ngIf="form.get('cuit').dirty && form.get('cuit').errors">
              <ng-container *ngIf="form.get('cuit').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="id_provincia">{{ 'lambe.proveedores.provincia' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-select formControlName="id_provincia" nzAllowClear nzShowSearch [nzServerSearch]="true"
              (nzOnSearch)="provincias.search($event)">
              <ng-container *ngFor="let provincia of provincias.options | async">
                <nz-option *ngIf="!(provincias.isLoading | async)" [nzValue]="provincia.id"
                  [nzLabel]="provincia.display">
                </nz-option>
              </ng-container>
              <nz-option *ngIf="provincias.isLoading | async" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" nzTheme="outline"></i>
                {{ 'global.cargando' | translate }}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="calle">{{ 'global.calle' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="calle" id="calle">
            <nz-form-explain *ngIf="form.get('calle').dirty && form.get('calle').errors">
              <ng-container *ngIf="form.get('calle').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="numero">{{ 'global.numero' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="numero" id="numero">
            <nz-form-explain *ngIf="form.get('numero').dirty && form.get('numero').errors">
              <ng-container *ngIf="form.get('numero').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="codigo_postal">{{ 'global.codigo_postal' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="codigo_postal" id="codigo_postal">
            <nz-form-explain *ngIf="form.get('codigo_postal').dirty && form.get('codigo_postal').errors">
              <ng-container *ngIf="form.get('codigo_postal').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="cantidad_ufs">{{ 'lambe.consorcios.cantidad_ufs' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number formControlName="cantidad_ufs" [nzMin]="0" [nzMax]="9999" [nzStep]="1" style="width: 100%">
            </nz-input-number>
            <nz-form-explain *ngIf="form.get('cantidad_ufs').dirty && form.get('cantidad_ufs').errors">
              <ng-container *ngIf="form.get('cantidad_ufs').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="codigo">{{ 'global.codigo' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="codigo" id="codigo">
            <nz-form-explain *ngIf="form.get('codigo').dirty && form.get('codigo').errors">
              <ng-container *ngIf="form.get('codigo').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="estado">{{ 'global.estado' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-select nzShowSearch nzAllowClear formControlName="estado" id="estado">
              <nz-option *ngFor="let status of consorcioStatus" nzCustomContent nzLabel="{{status | translate}}"
                [nzValue]="status">
                <nz-badge [nzStatus]="getNzColor(status)"></nz-badge> {{status | translate}}
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="form.get('estado').dirty && form.get('estado').errors">
              <ng-container *ngIf="form.get('estado').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="cantidad_pisos">{{ 'lambe.consorcios.cantidad_pisos' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number formControlName="cantidad_pisos" [nzMin]="0" [nzMax]="9999" [nzStep]="1"
              style="width: 100%"></nz-input-number>
            <nz-form-explain *ngIf="form.get('cantidad_pisos').dirty && form.get('cantidad_pisos').errors">
              <ng-container *ngIf="form.get('cantidad_pisos').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="dia_comienzo">{{ 'lambe.consorcios.dia_comienzo' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-date-picker formControlName="dia_comienzo" style="width: 100%" [nzStyle]="{ width: '100%' }">
            </nz-date-picker>
            <nz-form-explain *ngIf="form.get('dia_comienzo').dirty && form.get('dia_comienzo').errors">
              <ng-container *ngIf="form.get('dia_comienzo').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>

  <div *ngIf="steps.nzCurrent == 1">

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="codigo_siro">{{ 'lambe.consorcios.codigo_siro' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="codigo_siro" id="codigo_siro">
            <nz-form-explain *ngIf="form.get('codigo_siro').dirty && form.get('codigo_siro').errors">
              <ng-container *ngIf="form.get('codigo_siro').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="numero_verificacion_siro">
            {{ 'lambe.consorcios.numero_verificacion_siro' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number formControlName="numero_verificacion_siro" [nzMin]="0" [nzMax]="9" [nzStep]="1"
              style="width: 100%">
            </nz-input-number>
            <nz-form-explain
              *ngIf="form.get('numero_verificacion_siro').dirty && form.get('numero_verificacion_siro').errors">
              <ng-container *ngIf="form.get('numero_verificacion_siro').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>





    <div nz-row nzType="flex" nzJustify="space-between">

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="codigo_suterh">{{ 'lambe.consorcios.codigo_suterh' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="codigo_suterh" id="codigo_suterh">
            <nz-form-explain *ngIf="form.get('codigo_suterh').dirty && form.get('codigo_suterh').errors">
              <ng-container *ngIf="form.get('codigo_suterh').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
        <nz-form-item>
          <nz-form-label nzFor="codigo_pmc">
            {{ 'global.codigo_pmc' | translate }}
          </nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="codigo_pmc">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
        <nz-form-item>
          <nz-form-label nzFor="codigo_pme">
            {{ 'global.codigo_pme' | translate }}
          </nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="codigo_pme">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
        <nz-form-item>
          <nz-form-label nzFor="codigo_ep">
            {{ 'global.codigo_ep' | translate }}
          </nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="codigo_ep">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
</form>


<div class="footer">
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col nzSpan="8">
      <button nz-button nzType="default" *ngIf="steps.nzCurrent > 0" (click)="current = current - 1">
        <span>{{ 'global.anterior' | translate }}</span>
      </button>
      <button nz-button nzType="default" *ngIf="steps.nzCurrent < 1" (click)="current = current + 1">
        <span>{{ 'global.siguiente' | translate }}</span>
      </button>
    </div>

    <div nz-col nzSpan="4">
      <div nz-row nzType="flex" nzJustify="end">
        <button nz-button [disabled]="!form.valid" (click)="submit()" class="ant-btn ant-btn-primary">
          <span>{{ 'global.guardar' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
