<nz-card [nzBordered]="false">

  <div nz-row nzType="flex" nzJustify="space-between">

    <div nz-col>
      <nz-statistic [nzValue]="totales.deuda.monto | number: '1.0-2'" [nzTitle]="totales.deuda.titulo | translate"
        [nzSuffix]="'$'" [nzValueStyle]="{ color: (totales.otros.monto >= 0)  ? '#3F8600' : '#CF1322' }">
      </nz-statistic>
    </div>

    <div nz-col>
      <nz-statistic [nzValue]="totales.transferencia.monto | number: '1.0-2'"
        [nzTitle]="totales.transferencia.titulo | translate" [nzSuffix]="'$'"
        [nzValueStyle]="{ color: (totales.transferencia.monto >= 0)  ? '#3F8600' : '#CF1322' }">
      </nz-statistic>
    </div>

    <div nz-col>
      <nz-statistic [nzValue]="totales.cheque.monto | number: '1.0-2'" [nzTitle]="totales.cheque.titulo | translate"
        [nzSuffix]="'$'" [nzValueStyle]="{ color: (totales.cheque.monto >= 0)  ? '#3F8600' : '#CF1322' }">
      </nz-statistic>
    </div>

    <div nz-col>
      <nz-statistic [nzValue]="totales.efectivo.monto | number: '1.0-2'" [nzTitle]="totales.efectivo.titulo | translate"
        [nzSuffix]="'$'" [nzValueStyle]="{ color: (totales.efectivo.monto >= 0)  ? '#3F8600' : '#CF1322' }">
      </nz-statistic>
    </div>

    <div nz-col>
      <nz-statistic [nzValue]="totales.total.monto | number: '1.0-2'" [nzTitle]="totales.total.titulo | translate"
        [nzSuffix]="'$'" [nzValueStyle]="{ color: (totales.total.monto >= 0)  ? '#3F8600' : '#CF1322' }">
      </nz-statistic>
    </div>
  </div>
</nz-card>
<nz-card [nzBordered]="false">
  <ng-template #extraTpl>
    <i nz-icon nzType="setting"></i>
  </ng-template>
  <ng-template #headerTpl>
    &nbsp;
  </ng-template>

  <div class="table-operations">
    <span *ngFor="let tag of (tags | keys); let i = index">
      <nz-tag *ngIf="tags[tag.key].used" nzMode="closeable" (nzOnClose)="onRemoveTag(tag.key)">
        {{ tags[tag.key].title | translate }}</nz-tag>
    </span>
  </div>

  <div class="table-operations onlysmall">
    <nz-dropdown [nzTrigger]="'click'">
      <button nz-button nz-dropdown nzShape="circle">
        <i nz-icon nzTheme="outline" type="bars"></i>
      </button>
      <ul nz-menu>
        <li nz-menu-item (click)="_openForm()">
          <span>{{ 'global.crear' | translate }}</span>
        </li>
        <li nz-menu-item (click)="clearFilter()">
          <span>{{ 'global.limpiar_filtros' | translate }}</span>
        </li>
      </ul>
    </nz-dropdown>

    <!-- Muestra filtros de busqueda -->
    <button nz-button nz-dropdown nzShape="circle" (click)="_openFilter()">
      <i nz-icon nzTheme="outline" type="search"></i>
    </button>
  </div>


  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel #p [nzHeader]="headerTpl" [nzActive]="false" [nzExtra]="extraTpl" [ngStyle]="{
              background: '#f7f7f7',
              'border-radius': '4px',
              'margin-bottom': '24px',
              border: '0px'
            }">
      <form>

        <div nz-row nzType="flex" nzJustify="space-between">

          <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 5 }">
            <nz-form-item>
              <nz-form-label nzFor="monto">{{ 'lambe.consorcios.consorcio' | translate }}
              </nz-form-label>
              <nz-form-control>
                <nz-select zPlaceHolder=" lambe.gastos.consorcio | translate " [(ngModel)]="filtroForm.cc_consorcios"
                  id="id_consorcio" nzAllowClear nzShowSearch nzMode="multiple" [nzServerSearch]="true"
                  name="id_consorcio" (nzOnSearch)="searchConsorcios($event)"
                  (ngModelChange)="changeCuentaCorrienteConfig()">
                  <ng-container *ngFor="let consorcio of consorcios">
                    <nz-option *ngIf="!isLoading" [nzValue]="consorcio.id" [nzLabel]="consorcio.display"></nz-option>
                  </ng-container>
                  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                    <i nz-icon type="loading" class="loading-icon"></i> {{"global.cargando" | translate}}
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>

    </nz-collapse-panel>
  </nz-collapse>

  <nz-table #ajaxTable [nzFrontPagination]="false" [nzData]="tableLambe.data" [nzLoading]="tableLambe.loading"
    [nzTotal]="tableLambe.total" [(nzPageIndex)]="paginatorParams.page" [(nzPageSize)]="paginatorParams.page_size"
    (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzSize]="'middle'" [nzBordered]="'false'"
    [nzScroll]="{ x: '100%' }">
    <thead (nzSortChange)="sort($event)" nzSingleSort>

      <tr (contextmenu)="contextMenu($event, menuTable)">
        <th nzCustomFilter nzSortKey="estado">
          <span>{{ 'global.descripcion' | translate }}</span>
        </th>

        <th nzCustomFilter nzSortKey="estado">
          <span>{{ 'global.consorcio' | translate }}</span>
        </th>

        <th nzCustomFilter nzSortKey="calle">
          <span>{{ 'global.fecha' | translate }}</span>
        </th>

        <th nzCustomFilter nzSortKey="estado">
          <span>{{ 'global.debe' | translate }}</span>
        </th>

        <th nzCustomFilter nzSortKey="estado">
          <span>{{ 'global.haber' | translate }}</span>
        </th>

        <th nzCustomFilter nzSortKey="estado">
          <span>{{ 'global.saldo' | translate }}</span>
        </th>

      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="tableLambe.data" let-i="index">
        <tr (contextmenu)="contextMenu($event, menuRowContainer)">
          <ng-template #menuRowContainer>
            <ng-container *ngTemplateOutlet="menuRow; context: { id: data['gastos_recurrentes-id'] }"></ng-container>
          </ng-template>
          <td>
            <strong class="onlysmall">{{ 'global.descripcion' | translate }}:&nbsp;</strong>
            {{ data['cuenta_corriente_view-descripcion_movimiento'] }}
          </td>
          <td>
            <strong class="onlysmall">{{ 'global.consorcio' | translate }}:&nbsp;</strong>
            {{ data['consorcios-razon_social'] }}
          </td>
          <td>
            <strong class="onlysmall">{{ 'glogal.fecha' | translate }}:&nbsp;</strong>
            {{data['cuenta_corriente_view-fecha_instrumento']}}
          </td>
          <td>
            <strong class="onlysmall">{{ 'lambe.debe' | translate }}:&nbsp;</strong>
            $ {{ data['cuenta_corriente_view-debe'] }}
          </td>
          <td>
            <strong class="onlysmall">{{ 'lambe.haber' | translate }}:&nbsp;</strong>
            $ {{ data['cuenta_corriente_view-haber'] }}
          </td>
          <td>
            <strong class="onlysmall">{{ 'lambe.saldo' | translate }}:&nbsp;</strong>
            $ {{ data['cuenta_corriente_view-saldo'] }}
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>

  <!-- Menu Table -->
  <ng-template #menuTable>
    <ul nz-menu nzInDropDown>
      <li nz-menu-item (click)="_openForm()">
        <a>{{ 'global.crear' | translate }}</a>
      </li>
      <li nz-menu-item (click)="clearFilter()">
        <a>{{ 'global.limpiar_filtros' | translate }}</a>
      </li>
    </ul>
  </ng-template>

  <!-- Menu Row -->
  <ng-template #menuRow let-id="id">
    <ul nz-menu nzInDropDown>
      <li nz-menu-item (click)="_openForm(id)">
        <a>{{ 'global.editar' | translate }}</a>
      </li>
      <li nz-menu-item>
        <a nz-popconfirm (nzOnConfirm)="eliminar(id)" nzTitle="Esta Seguro?" nzCancelText="No" nzOkText="Si"
          [nzIcon]="iconTpl">{{ 'global.eliminar' | translate }}</a>
        <ng-template #iconTpl>
          <i nz-icon nzType="question-circle-o" style="color: red;"></i>
        </ng-template>
      </li>
    </ul>
  </ng-template>

</nz-card>
