<form nz-form [formGroup]="form" (ngSubmit)="submit()" [nzLayout]="'horizontal'">

  <div nz-row nzType="flex" nzJustify="space-between">

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="cuit">{{ 'global.cuit' | translate }}
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="cuit">
          <nz-form-explain *ngIf="form.get('cuit').dirty && form.get('cuit').errors">
            <ng-container *ngIf="form.get('cuit').hasError('required')">
              {{ 'global.campo_requerido' | translate }}
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="nombre">{{ 'global.nombre' | translate }}
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="nombre">
          <nz-form-explain *ngIf="form.get('nombre').dirty && form.get('nombre').errors">
            <ng-container *ngIf="form.get('nombre').hasError('required')">
              {{ 'global.campo_requerido' | translate }}
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="direccion">{{ 'global.direccion' | translate }}
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="direccion">
          <nz-form-explain *ngIf="form.get('direccion').dirty && form.get('direccion').errors">
            <ng-container *ngIf="form.get('direccion').hasError('required')">
              {{ 'global.campo_requerido' | translate }}
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="email">{{ 'global.email' | translate }}
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="email">
          <nz-form-explain *ngIf="form.get('email').dirty && form.get('email').errors">
            <ng-container *ngIf="form.get('email').hasError('required')">
              {{ 'global.campo_requerido' | translate }}
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="telefono">{{ 'global.telefono' | translate }}
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="telefono">
          <nz-form-explain *ngIf="form.get('telefono').dirty && form.get('telefono').errors">
            <ng-container *ngIf="form.get('telefono').hasError('required')">
              {{ 'global.campo_requerido' | translate }}
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="situacion_fiscal">{{ 'global.situacion_fiscal' | translate }}
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="situacion_fiscal">
          <nz-form-explain *ngIf="form.get('situacion_fiscal').dirty && form.get('situacion_fiscal').errors">
            <ng-container *ngIf="form.get('situacion_fiscal').hasError('required')">
              {{ 'global.campo_requerido' | translate }}
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="codigo_postal">{{ 'global.codigo_postal' | translate }}
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="codigo_postal">
          <nz-form-explain *ngIf="form.get('codigo_postal').dirty && form.get('codigo_postal').errors">
            <ng-container *ngIf="form.get('codigo_postal').hasError('required')">
              {{ 'global.campo_requerido' | translate }}
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="rpa">{{ 'global.rpa' | translate }}
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="rpa">
          <nz-form-explain *ngIf="form.get('rpa').dirty && form.get('rpa').errors">
            <ng-container *ngIf="form.get('rpa').hasError('required')">
              {{ 'global.campo_requerido' | translate }}
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>


  </div>
</form>

<div class="footer">
  <div nz-row nzType="flex" nzJustify="space-between">
    <button nz-button [disabled]="!form.valid" (click)="submit()" class="ant-btn ant-btn-primary">
      <span>{{ 'global.guardar' | translate }}</span>
    </button>
  </div>
</div>
