<div nz-row nzType="flex" nzJustify="space-between" [formGroup]="form">

  <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
    <nz-form-item>
      <nz-form-label>{{ 'global.banco' | translate }}</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="descripcion" />
      </nz-form-control>
    </nz-form-item>
  </div>


  <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
    <nz-form-item>
      <nz-form-label>{{ 'global.alias' | translate }}</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="fecha" />
      </nz-form-control>
    </nz-form-item>
  </div>



  <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
    <nz-form-item>
      <nz-form-label>{{ 'global.numero_cuenta' | translate }}</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="monto" />
      </nz-form-control>
    </nz-form-item>
  </div>


</div>

<div class="footer">
  <div nz-row nzType="flex" nzJustify="space-between">
    <button nz-button (click)="submit()" class="ant-btn ant-btn-primary">
      <span>{{ 'global.buscar' | translate }}</span>
    </button>
  </div>
</div>
