<page-header [title]=" 'lambe.consorcios.titulo' | translate "></page-header>
<nz-card [nzBordered]="false">


  <nz-tabset [nzTabPosition]="position">
    <nz-tab nzTitle="Unidades Funcionales">
      <app-tab-uf [idConsorcio]="idConsorcio"></app-tab-uf>
    </nz-tab>
    <nz-tab nzTitle="Porcentuales">
      <app-tab-porcentuales [idConsorcio]="idConsorcio"></app-tab-porcentuales>
    </nz-tab>
    <nz-tab nzTitle="Amenities">
      <app-tab-amenities [idConsorcio]="idConsorcio"></app-tab-amenities>
    </nz-tab>
    <!-- <nz-tab nzTitle="Cajas">
      <ng-template nz-tab>
        4
      </ng-template>
    </nz-tab> -->
  </nz-tabset>



</nz-card>
