<nz-card [nzBordered]="false">
  <app-table-config></app-table-config>
  <app-table-tags (removeTag)="removeTag($event)" [filters]="table.filters" [translations]="translations">
  </app-table-tags>
  <nz-table #ajaxTable [nzFrontPagination]="false" [nzData]="table.pageData | async"
    [nzLoading]="table.paginatorLoading | async" [nzTotal]="table.paginatorTotal | async"
    [nzPageIndex]="table.paginatorPage | async" [nzPageSize]="table.paginatorPageSize | async"
    (nzPageIndexChange)="pageChange($event)" [nzSize]="'middle'" [nzBordered]="'false'" [nzScroll]="{ x: '100%' }">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="id_proveedor" *ngIf="table.proveedorVisible | async">
          <span>{{ 'lambe.proveedores.proveedor' | translate }}</span>
        </th>

        <th nzShowSort nzSortKey="id_consorcio" *ngIf="table.consorcioVisible | async">
          <span>{{ 'lambe.consorcios.consorcio' | translate }}</span>
        </th>

        <th nzShowSort nzSortKey="id_servicio" *ngIf="table.servicioVisible | async">
          <span>{{ 'global.servicio' | translate }}</span>
        </th>

        <th nzShowSort nzSortKey="estado">
          <span>{{ 'global.monto' | translate }}</span>
        </th>

        <th nzShowSort nzSortKey="numero">
          <span>{{ 'global.fecha' | translate }}</span>
        </th>

        <th nzShowSort nzSortKey="numero">
          <span>{{ 'global.factura' | translate }}</span>
        </th>

        <th nzShowSort nzSortKey="numero" *ngIf="extraData">
          <span>{{ 'global.rubro' | translate }}</span>
        </th>

        <th nzShowSort nzSortKey="numero" *ngIf="extraData">
          <span>{{ 'global.prevision' | translate }}</span>
        </th>

        <th nzShowSort nzSortKey="numero" *ngIf="extraData">
          <span>{{ 'global.prorrateable' | translate }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="table.pageData | async">
        <tr gastos-row [rowCuota]="data" [extraData]="extraData"></tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
