<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red;"></i>
</ng-template>

<ng-template #menuHeader>
  <div nzType="flex" nz-row nzJustify="space-between">
    <div nz-col>
      <i nz-icon nzType="plus" nzTheme="outline" class="pointer" (click)="openCrearMenu()"></i>
    </div>
    <div nz-col>
      <i nz-popconfirm nzTitle="Quiere restablecer le menu por defecto?" (nzOnConfirm)="deleteMenu()" nzCancelText="No"
        nzOkText="Si" nz-icon [nzIcon]="iconTpl" nzType="rollback" nzTheme="outline" class="pointer"></i>
    </div>
    <div nz-col>
      <i nz-icon nzType="menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}" nzTheme="outline" class="pointer"
        (click)="toggleCollapsed()"></i>
    </div>
  </div>
</ng-template>

<ng-template #collapseTittle>
  <span *ngIf="!isCollapsed">Menu</span>
  <i *ngIf="isCollapsed" nz-icon nzType="menu" nzTheme="outline"></i>
</ng-template>


<div class="alain-default__aside-inner">
  <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
    <!-- FAVORITOSS -->
    <li nz-menu-group [nzTitle]="menuHeader">

      <ul ngxDroppable [ngStyle]="{'min-height': '30px'}" nz-tooltip [nzVisible]="keepHelp"
        nzTitle="{{help || keepHelp ? ('global.menu_help_edit' | translate) : ''}}">
        <ng-container *ngFor="let item of orderableList; let i = index">
          <li nz-menu-item *ngIf="item.fav" ngxDraggable [model]="item" nz-tooltip
            [nzTitle]="isCollapsed ? (item.title | translate) : ''" (contextmenu)="openEditarMenu(item, i)">

            <a *ngIf="!item.custom" [routerLink]="item.route">
              <i nz-icon [nzType]="item.icon || 'link'"></i>
              <span *ngIf="!isCollapsed">{{item.title | translate}}</span>
            </a>

            <a *ngIf="item.custom" [href]="item.route" target="_blank">
              <i nz-icon [nzType]="item.icon || 'link'"></i>
              <span *ngIf="!isCollapsed">{{item.title | translate}}</span>
            </a>

          </li>
        </ng-container>
      </ul>
    </li>

    <nz-collapse [nzBordered]="false" class="menu-collapse">
      <nz-collapse-panel #p [nzHeader]="collapseTittle" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
        <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed" ngxDroppable
          [ngStyle]="{'min-height': '30px'}">
          <ng-container *ngFor="let item of orderableList; let i = index">
            <li nz-menu-item *ngIf="!item.fav" ngxDraggable [model]="item" (contextmenu)="openEditarMenu(item, i)">

              <a *ngIf="!item.custom" [routerLink]="item.route">
                <i nz-icon [nzType]="item.icon || 'link'"></i>
                <span *ngIf="!isCollapsed">{{item.title | translate}}</span>
              </a>

              <a *ngIf="item.custom" [href]="item.route" target="_blank">
                <i nz-icon [nzType]="item.icon || 'link'"></i>
                <span *ngIf="!isCollapsed">{{item.title | translate}}</span>
              </a>

            </li>
          </ng-container>
        </ul>
        <ng-template #expandedIcon let-active>
          {{ active }}
          <i nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></i>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
  </ul>
</div>
<app-modal-help></app-modal-help>
