/* You can add global styles to this file, and also import other style files */

.pointer {
  cursor: pointer;
}
// sobreescribo el 80 porque se ve feo el titulo con los iconos
.ant-menu-inline-collapsed {
  width: 64px;
}

.menu-collapse > .ant-collapse > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0px;
}

.menu-collapse  > .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: rgba(0, 0, 0, 0.45);
}

.table-operations {
  margin-bottom: 16px;
}

.space-top {
  margin-top: 10px;
}

// .table-operations>button {
//   margin-right: 8px;
// }

.search-box {
  padding: 8px;
}

.search-box input, nz-select {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

//Aplica solo en pantallas grandes
@media only screen and (min-width: 768px) {
  .onlysmall {
    display: none;
  }
}


//Aplica solo en pantallas grandes
@media only screen and (max-width: 768px) {
  .onlymedium {
    display: none;
  }
}

//Aplcia solo en pantallas chicas.
@media only screen and (max-width: 768px) {
  tr {
    border: @border-width-base @border-style-base @border-color-split;
  }
}
