<form nz-form [formGroup]="form" (ngSubmit)="submit()" [nzLayout]="'horizontal'">

  <div nz-row nzType="flex" nzJustify="space-between">

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'global.nombre' | translate }}</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="requiredErrorTpl">
          <input nz-input formControlName="nombre" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'global.cuit' | translate }}</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="requiredErrorTpl">
          <input nz-input formControlName="cuit" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'global.alias' | translate }}</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="requiredErrorTpl">
          <input nz-input formControlName="alias" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'global.email' | translate }}</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="requiredErrorTpl">
          <input nz-input formControlName="email" />
        </nz-form-control>
      </nz-form-item>
    </div>


  </div>
</form>

<div class="footer">
  <div nz-row nzType="flex" nzJustify="space-between">
    <button nz-button [disabled]="!form.valid" (click)="submit()" class="ant-btn ant-btn-primary">
      <span>{{ 'global.guardar' | translate }}</span>
    </button>
  </div>
</div>

<ng-template #requiredErrorTpl let-control>
  <ng-container *ngIf="control.hasError('required')">
    {{ 'global.campo_requerido' | translate }}
  </ng-container>
</ng-template>
