<form nz-form [formGroup]="form" [nzLayout]="'horizontal'" (submit)="editarItem()">

  <nz-form-item>
    <nz-form-label nzRequired nzFor="title">{{ 'global.favorito' | translate }}
    </nz-form-label>
    <nz-form-control>
      <nz-switch (ngModelChange)="cdr.detectChanges()" formControlName="fav"></nz-switch>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="title">{{ 'global.titulo' | translate }}
    </nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="title">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="item.custom">
    <nz-form-label nzRequired nzFor="route">{{ 'global.ruta' | translate }}
    </nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="route">
    </nz-form-control>
  </nz-form-item>

  <div class="footer">
    <div nz-row nzType="flex" nzJustify="space-between">

      <div nz-col>
        <button [disabled]="form.invalid" type="submit" nz-button>
          <span>{{ 'global.editar' | translate }}</span>
        </button>
      </div>

      <div nz-col>
        <button *ngIf="item.custom" nz-button type="button" nzType="danger" (click)="eliminarItem()">
          <span>{{ 'global.eliminar' | translate }}</span>
        </button>
      </div>

    </div>
  </div>

</form>
