<div class="table-operations" nzType="flex" nz-row nzJustify="space-between">

  <div nz-col nzType="flex" nz-row nzJustify="start">
    <button nz-col nz-button nz-dropdown (click)="openFilter()" nz-tooltip [nzVisible]="keepHelp" nzPlacement="left"
      [nzTitle]=" (keepHelp || help) ? tooltips.btnFiltros: ''">
      <i nz-icon nzTheme="outline" type="search"></i>
    </button>
    <button nz-col nz-button nz-dropdown (click)="clearFilter()" nz-tooltip [nzVisible]="keepHelp" nzPlacement="right"
      [nzTitle]=" (keepHelp || help) ? tooltips.btnNoFltros: ''">
      <i nz-icon nzTheme="outline" type="delete"></i>
    </button>
  </div>

  <div nz-col nzType="flex" nz-row nzJustify="center">
    <nz-select nz-col nz [(ngModel)]="idConsorcio" nzShowSearch [nzServerSearch]="true"
      [nzPlaceHolder]="'global.consorcio' | translate" (nzOnSearch)="searchConsorcios($event)"
      (ngModelChange)="changeConsorcio()">
      <ng-container *ngFor="let consorcio of ufFinder.consorcios | async">
        <nz-option *ngIf="!(ufFinder.isLoading | async)" [nzValue]="consorcio.id" [nzLabel]="consorcio.display">
        </nz-option>
      </ng-container>
      <nz-option *ngIf="ufFinder.isLoading | async" nzDisabled nzCustomContent>
        <i nz-icon type="loading" class="loading-icon"></i> {{"global.cargando" | translate}}
      </nz-option>
    </nz-select>

    <nz-select nz-col nz [(ngModel)]="idUf" nzShowSearch [nzServerSearch]="true"
      [nzPlaceHolder]="'global.uf' | translate" (nzOnSearch)="searchUfs($event)" (ngModelChange)="changeUf()">
      <ng-container *ngFor="let uf of ufFinder.ufs | async">
        <nz-option *ngIf="!(ufFinder.isLoading | async)" [nzValue]="uf.id" [nzLabel]="uf.display"></nz-option>
      </ng-container>
      <nz-option *ngIf="ufFinder.isLoading | async" nzDisabled nzCustomContent>
        <i nz-icon type="loading" class="loading-icon"></i> {{"global.cargando" | translate}}
      </nz-option>
    </nz-select>
  </div>

  <div nz-col nzType="flex" nz-row nzJustify="end">

    <button [disabled]="!idUf" nz-col nz-button nz-dropdown (click)="cobro()" nz-tooltip [nzVisible]="keepHelp"
      nzPlacement="left" [nzTitle]=" (keepHelp || help) ? tooltips.btnCrear: ''">
      <span>{{'global.cobro' | translate}}</span>
    </button>

    <button [disabled]="!idUf" nz-col nz-button nz-dropdown (click)="deuda()" nz-tooltip [nzVisible]="keepHelp"
      nzPlacement="left" [nzTitle]=" (keepHelp || help) ? tooltips.btnCrear: ''">
      <span>{{'global.deuda' | translate}}</span>
    </button>

  </div>

</div>
