<div nz-row nzType="flex" nzJustify="space-between" [formGroup]="form">

  <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
    <nz-form-item>
      <nz-form-label>{{ 'global.proveedor' | translate }}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="id_proveedor" nzShowSearch [nzServerSearch]="true"
          (nzOnSearch)="searchProveedores($event)">
          <ng-container *ngFor="let proveedor of proveedores">
            <nz-option *ngIf="!isLoading" [nzValue]="proveedor.id" [nzLabel]="proveedor.display"></nz-option>
          </ng-container>
          <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <i nz-icon type="loading" class="loading-icon"></i> {{"global.cargando" | translate}}
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>


  <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 11 }">
    <nz-form-item>
      <nz-form-label>{{ 'global.consorcio' | translate }}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="id_consorcio" nzShowSearch [nzServerSearch]="true"
          (nzOnSearch)="searchConsorcios($event)">
          <ng-container *ngFor="let consorcio of consorcios">
            <nz-option *ngIf="!isLoading" [nzValue]="consorcio.id" [nzLabel]="consorcio.display"></nz-option>
          </ng-container>
          <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <i nz-icon type="loading" class="loading-icon"></i> {{"global.cargando" | translate}}
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>



  <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 24 }">
    <nz-form-item>
      <nz-form-label>{{ 'global.descripcion' | translate }}</nz-form-label>
      <nz-form-control>
        <textarea formControlName="descripcion" nz-input rows="1"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>


</div>
