<div class="table-operations" nzType="flex" nz-row nzJustify="end">
  <button nz-col nz-button (click)="_openFilter()" class="onlysmall">
    {{'global.buscar' | translate}}
  </button>

  <button nz-col nz-button (click)="clearFilter()" class="onlysmall">
    {{'global.limpiar_filtros' | translate}}
  </button>

  <button nz-col nz-button (click)="_openForm()">
    {{'global.crear' | translate}}
  </button>
</div>


<div class="table-operations">
  <span *ngFor="let tag of tags | keys ; let i = index">
    <nz-tag *ngIf="tags[tag.key].used" nzMode="closeable" (nzOnClose)="onRemoveTag(tag.key)">
      {{tags[tag.key].title | translate}}</nz-tag>
  </span>
</div>

<nz-table #ajaxTable [nzFrontPagination]="false" [nzData]="tableLambe.data" [nzLoading]="tableLambe.loading"
  [nzTotal]="tableLambe.total" [(nzPageIndex)]="paginatorParams.page" [(nzPageSize)]="paginatorParams.page_size"
  (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" nzSize="middle">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr (contextmenu)="contextMenu($event, menuTable)">
      <th nzCustomFilter nzShowSort nzSortKey="estado">
        <span>{{ 'global.nombre' | translate }}</span>
      </th>
      <th nzCustomFilter nzShowSort nzSortKey="razon_social">
        <span>{{ 'global.ubicacion' | translate }}</span>
      </th>
      <th nzCustomFilter nzShowSort nzSortKey="calle">
        <span>{{ 'global.habilitada' | translate }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="tableLambe.data">
      <tr (contextmenu)="contextMenu($event, menuRowContainer)">
        <ng-template #menuRowContainer>
          <ng-container *ngTemplateOutlet="menuRow; context: {id: data['id']}"></ng-container>
        </ng-template>
        <td>
          <strong class="onlysmall">{{ 'global.nombre' | translate }}:&nbsp;</strong>
          {{ data['nombre'] }}
        </td>
        <td>
          <strong class="onlysmall">{{ 'global.ubicacion' | translate }}:&nbsp;</strong>
          {{ data['ubicacion'] }}
        </td>
        <td>
          <strong class="onlysmall">{{ 'global.habilitada' | translate }}:&nbsp;</strong>
          {{ data['habilitada'] }}
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>

<!-- Menu Table -->
<ng-template #menuTable>
  <ul nz-menu nzInDropDown>
    <li nz-menu-item (click)="_openForm()">
      <a>{{ 'global.crear' | translate }}</a>
    </li>
    <li nz-menu-item (click)="clearFilter()">
      <a>{{ 'global.limpiar_filtros' | translate }}</a>
    </li>

  </ul>
</ng-template>

<!-- Menu Row -->
<ng-template #menuRow let-id="id">
  <ul nz-menu nzInDropDown>
    <li nz-menu-item (click)="_openForm(id)">
      <a>{{ 'global.editar' | translate }}</a>
    </li>
    <li nz-menu-item>
      <a nz-popconfirm (nzOnConfirm)="eliminar(id)" nzTitle="Esta Seguro?" nzCancelText="No" nzOkText="Si"
        [nzIcon]="iconTpl">{{ 'global.eliminar' | translate }}</a>
      <ng-template #iconTpl>
        <i nz-icon nzType="question-circle-o" style="color: red;"></i>
      </ng-template>
    </li>
  </ul>
</ng-template>
