<div nz-form [nzLayout]="'horizontal'" [formGroup]="fb.form">
  <div formArrayName="cuotas" *ngFor="let item of fb.cuotas['controls']; let i = index;">

    <div nz-row nzType="flex" nzJustify="space-between" [formGroupName]="i">
      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'Cuota ' + (i + 1) }} </nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-group nzAddOnBefore="$">
              <input formControlName="monto" nz-input id="monto" (change)="modifyCuotas(i)" />
            </nz-input-group>
            <nz-form-explain *ngIf="item.get('monto').dirty && item.get('monto').errors">
              <ng-container *ngIf="item.get('monto').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
              <ng-container *ngIf="item.get('monto').hasError('pattern')">
                {{ 'global.patron' | translate }} : ########,##
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'global.fecha' | translate }}
          </nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-date-picker formControlName="fecha_pago" nzFormat="dd-MM-yyyy"></nz-date-picker>

            <nz-form-explain *ngIf="
              item.get('fecha_pago').dirty && item.get('fecha_pago').errors
            ">
              <ng-container *ngIf="item.get('fecha_pago').hasError('required')">
                {{ 'global.campo_requerido' | translate }}
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label>{{ 'global.factura' | translate }} </nz-form-label>
          <nz-form-control>
            <input formControlName="numero_factura" nz-input />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
</div>
