<div nz-row nzType="flex" nzJustify="space-between">

  <div nz-row nzType="flex" nzJustify="start">
    <button nz-button [disabled]="sacForm.form.invalid" [nzType]="sacForm.preview ? 'default' : 'primary'"
      (click)="submit()">
      <span>{{ 'global.calcular' | translate }}</span>
    </button>
    <button nz-button [@fadeInOut]="'in'" *ngIf="sacForm.preview" nzType="primary">
      <span>{{ 'global.guardar' | translate }}</span>
    </button>
  </div>


  <button *ngIf="showAddRow && sacForm.form.value.horas_extras.length > 0" [@fadeInOut]="'in'" nz-button
    (click)="addRow()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
  </button>
</div>


<nz-tabset (nzSelectedIndexChange)="chageTab($event)" [(nzSelectedIndex)]="currentTab">
  <nz-tab [nzTitle]="'global.informacion_basica' | translate">
    <app-basic-information-tab-sac></app-basic-information-tab-sac>
  </nz-tab>

  <nz-tab [nzTitle]="'global.horas_extras' | translate">
    <app-extra-hours-tab-sac></app-extra-hours-tab-sac>
  </nz-tab>

  <nz-tab [nzTitle]="'global.previsualizacion' | translate" [nzDisabled]="!sacForm.preview">
    <app-preview-tab-sac *ngIf="sacForm.preview">
    </app-preview-tab-sac>
  </nz-tab>
</nz-tabset>
